.button:hover {
    background-color: red; 
    border-color: black; 
  }
  .BooksName{
    color:red;
  }
  .button {
      background-color: orange;
      color: white;
      font-size: larger;
      font-weight: bolder;
      height: 100px; width : 450px;
      font-family: copper plate;
      border-width: 10px;
      border-color: white;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 30px;
  }
  .mobile-button {
    background-color: orange;
    color: white;
    font-size: medium;
    height: 50px; width : 200px;
    font-family: copper plate;
    border-width: 10px;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  body{
    background: linear-gradient(to right bottom, red, black, black);
  }
  .bg-image {
    background-image: url("LOGO wallpaper (3).png");
    background-size:cover;
  }
  .button-container {
    font-family: copper plate;
    justify-content: center;
    margin-left: 33%;
  }
  .button-container-mobile {
    font-family: copper plate;
    justify-content: center;
    margin-left: 65px;
  }
@media (max-width: 768px) {
    .desktop-only {
      display: none; /* Hide on mobile */
    }
  }
  
  @media (min-width: 769px) {
    .mobile-only {
      display: none; /* Hide on desktop */
    }
  }