.container { display: flex; flex-direction: column; align-items: center; }

.expandable-div { width: 900px; margin: 1rem; padding: 1rem; border: 1px solid  rgb(55, 184, 43); border-radius: 5px; }

.expandable-div-header { display: flex; justify-content: space-between; align-items: center; }

.expandable-div-header h2 { margin: 0; }

.div-mob{width: 310px; padding-top: 20px;}

.button-width-mob{gap: 210px;}

.expandable-div-button { 
    
    display: flex;            
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.width-button-desktop {width: 900px; gap: 700px;}

.expandable-div:hover {
    color:white;
    background-color: rgb(255, 255, 255);
}
.arrow-icon {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-right: 5px;
}

.arrow-down { border-top: 5px solid  rgb(55, 184, 43); }

.arrow-up { border-bottom: 5px solid  rgb(55, 184, 43); }

.expandable-div-content-mob {display: none; max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;}

.expanded .expandable-div-content { max-height: 1000px; }

.expanded .expandable-div-content-mob { max-height: 200px; }

.expandable-div-content { 
    display: none; 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.container{ display: flex ;}
p,h2 {
    color: rgb(55, 184, 43);
}
.topicIcon{
    width: 25%;
}
.displayFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.guideImages{width: 900px;}

.guideImages-mob{width: 300px;}
.font-fam{
    font-family:Copperplate, Papyrus, fantasy;
}
.color-viper{
    color:rgb(55, 184, 43);
}
a:hover{
    color: white;
}
@media (max-width: 768px) {
    .desktop-only {
      display: none; /* Hide on mobile */
    }
  }
  
  @media (min-width: 769px) {
    .mobile-only {
      display: none; /* Hide on desktop */
    }
  }